.woocommerce{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font;

  .woocommerce-form-coupon-toggle {
    display: none;
}
.woocommerce-checkout-review-order{
    margin-top: 70px;
    float: right;
    width: 50%;
}
.woocommerce-billing-fields{
    float: left;
    width: 80%;

    
}
}

.woocommerce form .form-row input.input-text{
    padding-left: 20px;
}

.woocommerce-billing-fields h3{
    font-size: 36px;
    font-weight: 600;
}
.woocommerce-billing-fields__field-wrapper label{
    font-size: $font-checkout-medium ;
    font-weight: $font-billing-weight;
    margin-top: 10px;
}

.woocommerce-billing-fields input {
    border-radius: 10px;
    height: 60px;
}

#billing_address_1::placeholder {
  opacity: 0;
  
}

#billing_address_2 {
    display: none;
}
.required {
  display: none;
}


#order_review_heading{
    display: none;
}


#billing_province, #billing_additional_info{
    font-size: $font-checkout-medium;
    font-family: $font; 
    color: $font-second-color;
    height: $form-height;
    border-radius: $form-radius;
    resize: none;
    padding-left: 10px;
}


#billing_additional_info{
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 10px;
}

.woocommerce-billing-fields input,
.woocommerce-billing-fields select {
    border: 1px solid $font-second-color;
    
}


.select2-selection.select2-selection--single {
    border-radius: 10px;
    height: 60px;

    .select2-selection__rendered{
        margin-top: 15px;
        margin-left: 10px;
        font-family: $font;
        color: $font-second-color;

    }
    .select2-selection__arrow{
        margin-top: 15px;
        margin-right: 10px;

    }
    

    
}

.woocommerce table.shop_table{
    border: none;
    margin-left: 50px;

}
.woocommerce table.shop_table th{
font-weight: 600;
}

.woocommerce table.shop_table tfoot th {
border-top: none;
font-weight: $product-weight;
}
.woocommerce table.shop_table td {
border-top: none;

}


.woocommerce table.shop_table tfoot td{
    border-top: none;
    font-weight: $product-weight;
    
}

.product-name, .product-total{
    font-size: $product-font;
    font-weight: $product-weight;
}

.woocommerce table.shop_table tfoot td strong {
color: $product-total;
font-size: $product-font;
margin-left: -50px;
}


.woocommerce table.shop_table td {
font-size: $product-total-font;
}

td.product-name {
color: $font-second-color;
font-size: $product-total-font;
font-family: $font;

}

#order_comments{
    resize: none;
    font-size: $font-checkout-medium;
    font-family: $font; 
    color: $font-second-color;
    height: $form-height;
    border-radius: $form-radius;
    resize: none;
    padding-left: 20px;
    width: 80%;
    padding-top: 20px;
}

.woocommerce-checkout #billing_email,
.woocommerce-checkout #order_comments {
    margin-bottom: 50px;
}

strong.product-quantity{
    color: black;
    font-weight: $product-weight;
}

.woocommerce-checkout #payment {
background-color: transparent;
margin-left: 50px;
}

.woocommerce-checkout #payment ul.payment_methods {
border: none;
}

.woocommerce-checkout #payment div.payment_box {
background-color: transparent;
margin-left: 50px;

}

.woocommerce-checkout #payment div.payment_box::before {
border: none;
}

.woocommerce-checkout #payment div.payment_box p:last-child {
margin-top: -20px;
width: 100%;
margin-left: -65px;
}

.woocommerce-privacy-policy-link{
    color: $font-color;
    text-decoration: none;
    font-weight: bold;
}

.woocommerce-privacy-policy-text{
margin-top: -40px;
width: 90%;
}

:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt{
    color: $font-color;
    background-color: transparent;
    
}
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt:hover{
    background-color: $font-second-color;
    
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
   float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid $font-color;
    padding: 20px 90px ;
    border-radius: 20px;
    font-weight: $product-weight;
    font-size: 20px;
    margin-left: 110px;
}

.woocommerce ul#shipping_method .amount {
    display: flex;
    margin-left: 20px;
}

.woocommerce-shipping-fields{
    display: none;
}

