footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: relative;
    font-family: $font;


     .footer-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        background-color: $footer-banner-color;

        .footer-column {
            padding: 30px;
            box-sizing: border-box;
            text-align: center;
            
            h3{
                font-size: $footer-h3-size;
                font-weight: $footer-font-weight-large;

            }
            &:first-child h3 {
            margin-right: 20px;
            }
            p{
                color: $font-second-color;
                font-size: $footer-p-size-large;
                width: calc(60% + 50px);
                left: 125px;
                position: relative;
                text-align: left;
                
            }
            &:last-child p{
                margin-right: 20px;
            }
            
            
           
        }
    }
    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        
    }

    .footer-left{
        width: 30%;
        padding: 10px;
        box-sizing: border-box;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 70px;
        margin-right: -100px;
        p{
            font-family:'Poppins';
            font-weight: $footer-font-weight-medium;
            font-size: $footer-p-size-medium;
            color: $footer-p-color;
            margin: 0;
            margin-left: 50px;
        }
    }

    .footer-middle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        
        .footer-section{
            width: 15%;
            margin-left: 10%;
            height: 100px;
            text-align: left;
        }
        
        
        h3{
            font-style: $footer-p-size-medium;
            font-weight: $footer-font-weight-large;
            line-height: 24px;
            color: $footer-p-color;
            margin: 0;
            display: inline-block;
        }
      
        
        ul{
                list-style: none;
                margin: 0;
                padding: 0;
                
                
            }
            li{
             margin-top: 30px;

            }

              a{
            text-decoration: none;
            color: $footer-links-color;
            font-size: $footer-p-size-medium;
            font-weight: $footer-font-weight-large;

        }

            
    
    }

    .footer-right{
        width: 30%;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
       
        h3{
            font-style: $footer-p-size-medium;
            font-weight: $footer-font-weight-large;
            color: $footer-p-color;
            margin: 0;
            margin-right: 175px; 
            }

        .newsletter-form{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-left: 20px;
            width: 90%;

            input[type="email"]{
                padding: 0;
                width: 100%;
                margin-right: 20px;
                border: none;
                background-color: transparent;
                border-bottom: 2px solid;               
                margin: 0;
                font-size: $footer-p-size-small;
                
            }

            button{
                padding: 0;
                background-color: transparent;
                color: $footer-links-color;
                border: none;
                width: 50%;
                border-bottom: 2px solid;               
                margin-left: 6px;
                cursor: pointer;
                font-weight: $footer-weight-xl;
                font-size: $footer-p-size-small;
            }
        }
    }

    .copyright{
    position: relative;
    display: inline-block;
    bottom: 0; 
    left: 35px;
    top: 120px;
    width: 95%; 
    height: 40px;
    padding: 5px;      
    padding-top: 30px;
    }
    .copyright::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 99%; 
    height: 1px; 
    background-color: $copyright-color; 
}
}