//Cart


//Colors
$Main-color: #B88E2F;
$Sec-color: #FFF9E5;

//Font
$font: 'Poppins', sans-serif;

//Cart Total 
$font-size-big: 15px;
$font-size-medium: 12px;
$font-size-small: 10px;

//color
$font-color: #000;
$font-second-color: #9F9F9F;