// HEADER
$icon-size: 28px;
$banner-size: 48px;
$header-p-size: 16px;
$header-weight: 600;

//CHECKOUT
$font-checkout-medium: 16px;
$font-weight: 500;
$font-billing-weight: 600;
$font: 'Poppins', sans-serif;
$font-color: #000;
$font-second-color: #9F9F9F;
$form-height: 60px;
$form-radius: 10px;

$product-font: 24px;
$product-total-font: 16px;
$product-total: #B88E2F;
$product-weight: 400;



//FOOTER

$footer-banner-color:#FAF4F4;
$footer-h3-size: 32px;
$footer-font-weight-large: 500;
$footer-font-weight-medium: 400;
$footer-p-size-large: 20px;
$footer-p-size-medium: 16px;
$footer-p-color: #9F9F9F;
$footer-links-color: #000;
$footer-p-size-small: 14px;
$footer-weight-xl: 600;

$copyright-color: #D9D9D9;
