// HEADER


//CHECKOUT
$font-size-medium:16px;
$font-weight:500;
$font: 'Poppins', sans-serif;
$font-color: #000;
$font-second-color: #9F9F9F;
$form-height: 60px;
$form-radius: 10px;

$product-font: 24px;
$product-total-font: 16px;
$product-total: #B88E2F;
$product-weight: 400;



//FOOTER